*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

body{
    background-image: url("view-casino-gambling-chips_23-2151007798.avif");
    background-size: cover;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    background-image: url("istockphoto-1206505233-1024x1024.jpg");
    background-size: cover;
    padding: 35px;
    border-radius: 30px;
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

button{
    background-color: goldenrod;
    padding: 10px;
    color: #016f32;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    width: 150px;
    margin-bottom: 20px;
    margin-top: 2px;
    height: 3rem;
    width: 10rem;
    font-size: large;
}

button:hover{
    background-color: yellow;
    cursor: pointer;
    color: black;
}

#nameInput{
    background-color: rgb(100, 11, 11);
    padding: 10px;
    color: goldenrod;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    width: 150px;
    margin-bottom: 10px;
    margin-top: 20px;
    width: 25rem;
    font-size: large;
}

a{
    padding: 10px;
    color: goldenrod;
    font-weight: bold;
    width: 150px;
    margin-bottom: 10px;
    margin-top: 20px;
    width: 25rem;
    font-size: large;
}

#nameInput:hover{
    background-color: red;
}

#chipsInput{
    background-color: rgb(6, 6, 68);
    padding: 10px;
    color: goldenrod;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    width: 150px;
    margin-bottom: 10px;
    margin-top: 2px;
    width: 25rem;
    font-size: large;
}

#chipsInput:hover{
    background-color: blue;
}

input::placeholder{
    color: goldenrod;
}

#AmountInput{
    background-color: rgb(100, 11, 11);
    padding: 10px;
    color: goldenrod;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    margin-bottom: 10px;
    margin-top: 20px;
    height: 3rem;
    width: 100%;
    font-size: large;
}

#AmountInput:hover{
    background-color: red;
}

#quit-btn{
    margin-top: 30px;
    background-color: rgb(100, 11, 11);
    color: goldenrod;
}

#quit-btn:hover{
    background-color: red;
    color: white;
}

h3{
    margin-top: 40px;
}